@import '../../node_modules/@photo-sphere-viewer/core/index.css';
@import '../../node_modules/@photo-sphere-viewer/virtual-tour-plugin/index.css';
@import '../../node_modules/@photo-sphere-viewer/gallery-plugin/index.css';
@import '../../node_modules/@photo-sphere-viewer/markers-plugin/index.css';


/*
 *  Sizing of elements
 */

/* Parent container */
.gvs {
  container-type: inline-size;
  box-sizing: border-box;
}

.gvs * { box-sizing: border-box; }

/* Focused element */
.gvs .gvs-main,
.gvs .gvs-loader
{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gvs-main {
  display: flex;
  flex-direction: column;
}

/* Non-focused element */
.gvs .gvs-mini
{
  position: absolute;
  top: unset;
  bottom: 10px;
  left: 10px;
  width: 30%;
  height: 30%;
  min-width: 320px;
  min-height: 200px;
  z-index: 1;
}

.gvs:not(.gvs-has-mini) .gvs-mini,
.gvs.gvs-mini-hidden .gvs-mini {
  display: none;
}

@container (max-width: 576px) {       /* Special rule for small containers */
  .gvs:not(.gvs-mini-hidden) .gvs-main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
    width: 100%;
    height: 60%;
  }

  .gvs .gvs-mini {
    bottom: 0;
    left: 0;
    right: 0;
    top: 60%;
    width: 100%;
    height: 40%;
  }
}

/* PSV fulfilling its parent */
.gvs-psv {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


/*
 * Styling
 */


/* Hide PSV tooltips */
.psv-virtual-tour-tooltip { display: none; }

/* Non-focused element */
@container (min-width: 576px) {                 /* Only for wide containers */
  .gvs-mini,
  .gvs-mini .psv-container,
  .gvs-mini
  {
    border-radius: 10px;
  }
}

/* PSV under widgets */
.psv-container {
  z-index: 0;
}

/* Smaller loading text */
.psv-loader-text {
  text-align: center;
  font-size: 0.9em;
}

/* Overlay under navbar */
.psv-overlay {
  z-index: 89;
}

/* Loader overlay */
.gvs .gvs-loader {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(38,50,56);
  background: linear-gradient(30deg, rgb(38, 50, 56) 0%, rgb(176, 190, 197) 100%);
  z-index: 9000;
  transition: all 0.5s;
  font-family: sans-serif;
  color: white;
  font-size: 1.4em;
  text-align: center;
}

.gvs .gvs-loader.gvs-loader-visible {
  visibility: visible;
  opacity: 1;
}

.gvs .gvs-loader img {
  max-width: 90%;
  width: 250px;
  max-height: 80%;
}

/* .gvs .psv-container * { box-sizing: content-box; } */
.psv-loader-image { width: 80%; }

/* Blinking dots for loader overlay */
@keyframes blink {50% { color: transparent }}
.gvs-loader-dot { font-size: 1.7em; animation: 1s blink infinite; }
.gvs-loader-dot:nth-child(2) { animation-delay: 250ms }
.gvs-loader-dot:nth-child(3) { animation-delay: 500ms }
