/*
 * Style for viewer unified widgets
 */


/* Position utilities */
.gvs-corner-space {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50%;
	z-index: 10;
	visibility: hidden;
	position: relative;
}

.gvs-main .gvs-corner-space {
	padding: 10px;
}

.gvs-corner {
	display: flex;
	gap: 10px;
}

.gvs-main .gvs-corner {
	width: 33%;
}

.gvs-corner > * {
	visibility: visible;
}

#gvs-corner-main-top-middle { align-items: start; justify-content: center; }
#gvs-corner-main-top-left { width: 50px; flex-direction: row; align-items: start; }
#gvs-corner-main-top-right { width: initial; flex-direction: column; align-items: center; }

#gvs-corner-main-bottom-right,
#gvs-corner-mini-bottom-left,
#gvs-corner-mini-bottom-right {
	flex-direction: column-reverse;
	align-items: end;
}

#gvs-corner-main-bottom-left {
	flex-direction: column-reverse;
	align-items: start;
}

@container (max-width: 576px) {
	#gvs-corner-main-top-left {
		flex-direction: column;
	}
}


/* Generic styles */
.gvs { font-family: sans-serif; }

.gvs-widget-bg {
	border: none;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	box-shadow: 1px 1px 8px white;
}

.gvs-mini .gvs-corner .gvs-widget-bg { box-shadow: none; }
.gvs-widget-bg a { color: white; }

.gvs-hidden,
.gvs-mini-hidden .gvs-only-mini,
.gvs:not(.gvs-mini-hidden) .gvs-only-mini-hidden {
	display: none !important;
}

.gvs h1, .gvs h2, .gvs h3, .gvs h4, .gvs h5, .gvs h6 {
	font-size: 1.2em;
	font-weight: 550;
	margin: 10px 0 10px 0;
}

.gvs h1:first-child, .gvs h2:first-child, .gvs h3:first-child,
.gvs h4:first-child, .gvs h5:first-child, .gvs h6:first-child { margin-top: 0; }

.gvs h2 { font-size: 1.1em; }
.gvs h3 { font-size: 1.0em; }
.gvs h4 { font-size: 0.9em; margin-bottom: 5px; }

.gvs-input-btn {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
}

.gvs-input-btn input:not([type=reset]), .gvs-input-btn textarea {
	font-size: 0.7em;
	width: 100%;
	font-family: 'Courier New', Courier, monospace;
}
.gvs-input-btn textarea { width: 100%; }

.gvs-input-btn button,
.gvs-input-btn input[type=reset],
a.gvs-link-btn {
	background: none;
	border: 2px solid white;
	color: white;
	border-radius: 8px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.0em;
	padding: 2px 5px;
	display: inline-block;
}

.gvs-input-btn button:not(:disabled):hover,
.gvs-input-btn input[type=reset]:hover,
a.gvs-link-btn:hover {
	color: black;
	background-color: white;
	border-color: #ddd;
}

.gvs-input-btn button.gvs-btn-active,
.gvs-input-btn button.gvs-btn-active:hover {
	background-color: #ff6f00;
	border-color: #ff6f00;
	color: white;
	display: flex;
	align-items: center;
	gap: 5px;
}

.gvs-input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.gvs-input-range {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	width: 100%;
}


/* Group */
.gvs-group {
	display: flex;
	align-items: stretch;
	align-content: stretch;
}

.gvs-group-vertical { flex-direction: column; }
.gvs-group-horizontal { flex-direction: row; }

.gvs-group.gvs-group-btnpanel {
	display: block;
	position: relative;
	box-shadow: none;
}
.gvs-bottom.gvs-right .gvs-group.gvs-group-btnpanel { flex-direction: row-reverse; align-items: end; }
.gvs-top.gvs-left .gvs-group.gvs-group-btnpanel { flex-direction: column; align-items: start; }


/* Panel */
.gvs-panel {
	position: absolute;
	transition: opacity 0.2s;
	padding: 10px;
	z-index: 100;
	width: 250px;
}

.gvs-panel.gvs-hidden {
	opacity: 0;
	display: block !important;
	pointer-events: none;
}

.gvs-top.gvs-middle .gvs-panel { top: 44px; left: calc((100% - 300px)/2); right: calc((100% - 300px)/2); }
.gvs-top.gvs-left .gvs-panel { top: 65px; left: 0; }
.gvs-bottom.gvs-right .gvs-panel { bottom: 0; right: 65px; }


/* Button */
.gvs-btn {
	width: 38px;
	height: 38px;
	cursor: pointer;
	line-height: 38px;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
}

a.gvs-btn { text-decoration: none; }

.gvs-btn.gvs-btn-large {
	width: 56px;
	height: 56px;
	border-radius: 28px;
	line-height: 56px;
}

.gvs-btn:not(:disabled):hover { background-color: rgba(0, 0, 0, 0.5); }
.gvs-mini .gvs-corner .gvs-btn { border-radius: 10px; }
.gvs-btn:disabled { color: #9c9c9c; }



/* Button in group */
.gvs-group {
	border-radius: 7px;
	box-shadow: 1px 1px 8px white;
}

.gvs-group.gvs-group-large { border-radius: 21px; }
.gvs-group:not(.gvs-group-btnpanel) .gvs-btn { box-shadow: none; }

.gvs-group.gvs-group-vertical .gvs-btn {
	border-radius: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
}

.gvs-group.gvs-group-vertical .gvs-btn:first-child {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-width: 3px;
}

.gvs-group.gvs-group-vertical .gvs-btn:last-child {
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-width: 3px;
}

.gvs-group.gvs-group-horizontal .gvs-btn {
	border-radius: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}

.gvs-group.gvs-group-horizontal .gvs-btn:first-child {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
	border-left-width: 3px;
}

.gvs-group.gvs-group-horizontal .gvs-btn:last-child {
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	border-right-width: 3px;
}


/* Move widget */
#gvs-widget-move {
	border-radius: 45px;
	display: block;
	position: relative;
	height: 90px;
	width: 90px;
}

#gvs-widget-move .gvs-btn {
	background: none;
	border-radius: 19px; /* To make button hitbox round, to avoid overlaps */
}

#gvs-widget-move .gvs-btn:not(:disabled):hover { background-color: rgba(255, 255, 255, 0.3); }
#gvs-move-up { position: absolute; top: 0; right: 26px; }
#gvs-move-down { position: absolute; bottom: 0; right: 26px; }
#gvs-move-right { position: absolute; right: 0; top: 26px; }
#gvs-move-left { position: absolute; left: 0; top: 26px; }
#gvs-move-middle { position: absolute; top: 31px; left: 30px; width: 30px; height: 30px; line-height: 30px; }


/* Legend */
#gvs-widget-legend {
	display: block;
	font-family: sans-serif;
	padding: 5px 10px;
}

#gvs-widget-mini-legend {
	padding: 2px 7px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	max-width: 250px;
	display: inline-block;
	font-size: 0.8em;
}

@container (max-width: 576px) {
	#gvs-widget-mini-legend {
		border-bottom-right-radius: 0px;
	}
}

#gvs-widget-mini-legend,
#gvs-widget-legend {
	font-size: 0.7em;
}

.gvs.gvs-has-mini #gvs-widget-legend {
	font-size: 1em;
}


/* Expand/Hide mini-widget buttons */
#gvs-mini-hide,
#gvs-mini-expand {
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
}

@container (max-width: 576px) {
	#gvs-mini-hide,
	#gvs-mini-expand {
		width: 42px;
		height: 42px;
		line-height: 42px;
		font-size: 1.5em;
	}

	#gvs-mini-hide { border-bottom-left-radius: 0px; }
	#gvs-mini-expand { border-top-right-radius: 0px; }
}


/* Search bar */
#gvs-widget-search {
	border-radius: 28px;
	box-shadow: none;
	z-index: 10;
}

/* Filters */
#gvs-filter { margin-bottom: 10px; }
#gvs-filter-panel input[type=date] {
	font-size: 0.8em;
	width: 50%;
}


/* Player */
#gvs-widget-player { justify-content: center; }
#gvs-player-more-panel { top: 56px; }
.gvs-player-options {
	width: 280px;
}

.gvs-player-options.gvs-hidden {
	display: flex !important;
}

#gvs-player-contrast {
	margin-left: 10px;
	display: inline-block;
}


/* Share panel */
#gvs-share-panel {
	right: 66px;
	bottom: 0px;
}
